<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<form action="{{ page.url | relative_url }}">

  <div class="tipue_search_right"><input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required></div>
  <div style="clear: both;"></div>
</form>

<div id="tipue_search_content"></div>



<body>

<script>
$(document).ready(function() {
  $('#tipue_search_input').tipuesearch();
});
</script>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

</body>

</html>
